# Rules CSVS. Should be two columns: folder,regex.
# Use string 'crypto' to specify the default sort rules.
# Use : to separate multiple paths.
RULES_CSV_PATHS=/Users/uz0r/my_war.csv:crypto

# Location of files to sort.
SCREENSHOTS_DIR=/Users/uz0r/Pictures/Screenshots/

# Destination for sorted files. 'Sorted' and 'Processed' subdirs will be created.
# Further subdirectories will be created off of the 'Sorted' subdir as sort rules
# are matched.
DESTINATION_DIR=/Users/uz0r/Pictures/Screenshots/
