# Rules CSVS. Should be two columns: folder,regex.
# Use string 'crypto' to specify the default sort rules.
# Use : to separate multiple paths.
RULES_CSV_PATHS=/Users/uz0r/my_war.csv:crypto

# Location of files to sort.
CLOWN_SORT_SCREENSHOTS_DIR=/Users/uz0r/Pictures/Screenshots/

# Destination for sorted files.
#   1. 'Sorted' and 'Processed' subdirs will be created.
#   2. Folders configured by sorting rules will be subdirs of 'DESTINATION_DIR/Sorted'
#      as matches are found.
CLOWN_SORT_DESTINATION_DIR=/Users/uz0r/Pictures/Screenshots/
